#loom-companion-mv3 {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
}

.container {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
}

.container--visual {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 578px;
    height: 100%;
}

.left-side {
    width: auto;
    height: 100%;
}

.logo {
    filter: drop-shadow(0 12px 16px rgba(17 17 20 / 8%));
    will-change: filter;
    transition: filter 0.3s ease;
}

.logo.up {
    filter: drop-shadow(0 20px 16px rgba(17 17 20 / 8%));
}

.right-side {
    position: relative;
}

.right-side img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 588px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-in 0.4s, visibility 0.8s ease-in 0.4s;
}

.right-side img:nth-child(2),
.right-side img:nth-child(3),
.right-side img:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
}

.right-side img.visible {
    opacity: 1;
    visibility: visible;
}


.icons [data-icon] {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow( 0px 4px 8px rgba(17, 17, 20, 0.10));
    will-change: filter;
    opacity: 0;
    visibility: hidden;
}

.stroke-anim {
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
}

.stroke-anim.animate {
    animation-name: strokePath;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715)
}

@keyframes strokePath {
    0% {
        stroke-dashoffset: -60;
    }
    
    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 140;
    }
}